<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ydhnwb.mathmachine">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <activity
                android:name=".DetailSeeScoreActivity"
                android:label="@string/title_activity_detail_see_score"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".SeeScoreActivity"
                android:label="@string/title_activity_see_score"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".QuestionFlowActivity"
                android:label="@string/title_activity_question_flow"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".DetailManageActivity"
                android:label="@string/title_activity_detail_manage"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ManageQuestionActivity"
                android:label="@string/title_activity_manage_question"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".ScoreActivity">
        </activity>
        <activity android:name=".ViewPhotoActivity">
        </activity>
        <activity
                android:name=".ExamActivity"
                android:label="@string/title_activity_exam"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".StudentFlowActivity"
                android:label="@string/title_activity_student_flow"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".StudentActivity"
                android:label="@string/title_activity_student"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".SubActivity"
                android:label="@string/title_activity_sub"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".LecturerLoginActivity"
                android:label="@string/title_activity_lecturer_login"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".ReadActivity"/>
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name">
        </activity>
    </application>

</manifest>